/* Google Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,600;1,600&display=swap');

/* overrides default styles */
* {
    box-sizing: border-box;
    font-family: 'karla';
    padding: 0;
    margin: 0;
}
/* body */
body {
    background: url(../images/pexels-bakgrund.jpg.png) no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.heading {
    color: whitesmoke;
    font-size: 80px;
    text-align: center;
    padding-top: 20px;
}

/* heading link to home page */
.heading, a {
    text-decoration: none;
    color: whitesmoke;
}

/* styles for game area */
.game-area {
    background-color: rgb(33, 32, 32, 0.9);
    color: whitesmoke;
    margin: 50px auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    border-radius: 20px;
    padding: 30px;
}

.game-area, p {
    padding: 30px;
}

.info {
    text-decoration: none;
    list-style: none;
    padding: 20px;
}

/* styles for buttons on both pages */
.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.button a {
    text-decoration: none;
    color: whitesmoke;
}

#start-btn {
    color:whitesmoke;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border: none;
    background-color: rgb(214, 98, 69);
}

#instructions-btn {
    padding: 10px 25px 10px 25px;
    margin: 5px;
    border-radius: 5px;
    border: none;
    background-color: rgb(214, 98, 69);
}

/* Footer */
footer {
    background-color: white;
    margin-top: auto;
    width: 100%;
}

/* socialmedia icons */
#socialmedia {
    text-align: center;
    justify-content: space-evenly;
    display: flex;
    padding: 10px;
    list-style-type: none;
}

#socialmedia i {
    color: black;
    font-size: 150%;
}