/* Google Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,600;1,600&display=swap');

/* overrides default styles */
* {
    box-sizing: border-box;
    font-family: 'karla';
    padding: 0;
    margin: 0;
}
/* body */
body {
    background: url(../images/pexels-bakgrund.jpg.png) no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* styles for Heading */
.heading {
    color: whitesmoke;
    font-size: 100px;
    text-align: center;
    padding-top: 20px;
}

/* heading link to home page */
.heading a {
    text-decoration: none;
    color: whitesmoke;
}

/* styles for game area */
.game-area {
    background-color: rgb(32, 32, 32, 0.8);
    color: whitesmoke;
    margin: 50px auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    border-radius: 10px;
    padding: 30px;
}

.knowledge {
    padding: 30px;
}

.info {
    text-decoration: none;
    list-style: none;
    padding: 20px;
}

#audio-player {
    margin: 0;
    display: flex;
    justify-content: center;
    padding: 20px;
}


/* styles for buttons on index.html and instruction.html */
.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.button, a {
    text-decoration: none;
    color: rgb(16, 15, 15);
}

#play-btn {
    color: rgb(17, 17, 17);
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border: none;
    background-color: rgb(60, 145, 176);
}

#instructions-btn {
    padding: 10px 25px 10px 25px;
    margin: 5px;
    border-radius: 5px;
    border: none;
    background-color: rgb(60, 145, 176);
}

/* Instructions */
.instruction {
    padding: 20px;
}

/* Styles for play page */

.game-container {
    background-color: rgb(32, 31, 31, 0.8);
    margin: 30px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    flex-flow: column;
    padding: 20px;
    
}

#question {
    color: whitesmoke;
    font-size: 30px;
    padding: 10px;
}

.btn {
    background-color: rgb(60, 145, 176);
    color: rgb(17, 17, 17);
    padding: 20px;
    border-radius: 5px;
    border: none ;
}

#start-btn {
    font-size: 30px;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 15px;
}
/* styling for start en next buttons */
.control-btn {
    padding: 20px;
    gap: 15px;
}
/* Hides next and awnser buttons */
.hide {
    display: none;
}

#timer {
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 20px;
    font-size: 40px;
    font-family: 'karla';
}

/* Score area */
.scoreboard {
    background-color: rgb(33, 32, 32);
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    flex-flow: column;
    padding: 10px;
}

.score-text {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 15px;
}
.score {
    color: whitesmoke;
}


/* Footer */
footer {
    background-color: white;
    margin-top: auto;
    width: 100%;
}

/* socialmedia icons */
#socialmedia {
    text-align: center;
    justify-content: space-evenly;
    display: flex;
    padding: 10px;
    list-style-type: none;
}

#socialmedia i {
    color: black;
    font-size: 150%;
}